<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.button {
  border-radius: 30px;
  color: white;
  background: linear-gradient(to right,#ff105f,#ffad06);

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.home {
  background-color: #f1f1f1;
  color: black;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
</style>
<a href="/admin" class="home">&laquo; Back to Home</a>
<center><h1>Registered Students</h1></center>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Register NO</th>
    <th>Chest NO</th>
    <th>Department</th>
    <th>Semester</th>
    <th>Item</th>
    <th>Evaluation</th>
    
    
  </tr>
  {{#each registerDetails}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.email}}</td>
    <td>{{this.regno}}</td>
    <td>{{this.chessno}}</td>
    <td>{{this.department}}</td>
    <td>{{this.semester}}</td>
    <td>{{this.itemname}}</td>
    {{#if this.marks}}
    <td style="color: green;">Done</td>
    {{else}}

  <td style="color: red;">Pending</td>
  {{/if}}

    
{{/each}}
    
    
  </tr>
  
  
  </tr>
</table>