<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body,
    html {
      height: 100%;
      border: 100;

    }

    .bg {
      /* The image used */
      background-image: url('https://image.freepik.com/free-vector/cerulean-blue-curve-frame-template_53876-99029.jpg');
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
/* 
    footer {
      text-align: center;

      margin: 0 auto;

      font-size: 7px;
    }

    .bottom {

      padding-top: 160px;
      display: flex;
      justify-content: center;
    } */

    .bottom-right {
      position: absolute;
      bottom: 28px;
      right: 46px;
      font-size: 15px;
      color: white
    }
  </style>
</head>

<body>

  <div style="align:center;  margin: auto;">
    <div style="width:600px; height:600px;   text-align:center; border: 10px solid #4da3ff">
      <div class="bg">

        <div style="width:550px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
          

          <div style="left:30px; top:30px; position:absolute;">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfmUs11bQZK-9cOTIn_hZqX6AA6wXEfcUcSM1lugvuFErJljx3g3-0dMXsmjhqUhrGsGQ&usqp=CAU"
              alt="Girl in a jacket" width="70" height="70">
          </div>
          <br><br> <br><span style="font-size:25px; color:#ffd11a; font-weight:bold;"><u>Certificate of
              Achievement</u></span>
          <br><br>
          <span style="font-size:13px"><i>This is to certify that</i></span> <br> <br>
          <span style="font-size:13px">Chest No:<%= chestno_ %></span> <br /><br />
          <span style="font-size:15px;"><b>
              <%= name_ %>
            </b></span><br /><br />
          <span style="font-size:13px"><i>of <%= semester_ %>
                <%= department_ %></i></span> <br /><br />

          <span style="font-size:13px"><i>has secured <b>
                <%= position_ %> prize
              </b> in <b>
                <%= item_name %>
              </b></i></span>
              <div style="top: 470px;
                  left: 500px; position:absolute;">
                  <p>
                    <b>Principal</b><br>
                    Name
                  </p>
                  <img src="" alt="signature" width="70" height="50">

              </div>
             
              
          <!-- <div class="bottom">
            <footer>
              <p>Powered by Aagneya<br>
                <a href="mailto:teamartfest@gmail.com">teamartfest@gmail.com</a>
              </p>

              <a href="https://www.freepik.com/vectors/abstract-background">Abstract background vector created by
                rawpixel.com - www.freepik.com</a>
            </footer>
          </div> -->
        </div>

      </div>

    </div>

  </div>
  <br><br><br><br>

</body>

</html>