<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div style="width:6in; height:6in; padding:20px; border: 10px solid #787878">
<div style="width:5in; height:5in; padding:30px; text-align:center; border: 10px solid #787878">
       <span style="font-size:50px; font-weight:bold">Certificate of Participation</span>
       <br><br>
       
				<span style="font-size:25px"><i>This is to certify that chestno <%= chestno_ %></i></span> <br> <br>
<span style="font-size:30px"><b> <%= name_ %></b></span><br/><br/><span style="font-size:25px">of <%= semester_ %>  <%= department_ %><i> has got <%= position_ %> prize in <%= item_name %></i></span> <br/><br/>

		
      
      
</div>
</div>
</body>
</html>